body {
    background-color: black;
    color: white;
}
.wrapper {
    width: 70%;
    border: 2px solid red;
    min-height: 600px;
    margin: auto;
}
.content {
    width: 60%;
    border: 2px solid green;
    min-height: 500px;
    margin: 50px auto;
}
.header {
    text-align: center;
}
.categories {
    text-align: center;
}

/* Grid Styles */
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-gap: 25px;
    margin-top: 20px;
}
.categories {
    border: 1px solid yellow;
}
.category-tile {
    padding: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
}
.task-title {
    font-weight: bold;
}