/* Main Document Sections */
.body {
    background-color: black;
    color: white;
}
.wrapper {
    width: 100%;
    margin: auto;
    border-top: 2px solid yellow;
    border-bottom: 2px solid green;
    border-left: 2px solid blue;
    border-right: 2px solid red;
}
/* Small devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 500px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
        width: 70%;
        margin: auto;
    }
}
 /* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 50%;
        margin: auto;
    }
}
 /* Extra large devices (extra large laptops and desktops, 2000px and up) */
 @media only screen and (min-width: 1600px) {
    .wrapper {
        width: 30%;
        margin: auto;
    }
}
.content {
    width: 100%;
    margin: 0px auto 20px auto;
    position: relative;
}
.header {
    text-align: center;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}

/* Grid Styles */
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 1px;
}
.grid-item {
    padding: 20px 20px;
    border: 1px solid white;
    margin: 0px;
    font-weight: bold;
}
.item-top {
    grid-column: 1 / span 3;
}
.item-bottom {
    grid-column: 1 / span 3;
}

/* Categories Section */
.categories {
    width: 98%;
    text-align: center;
    border-top: 2px solid green;
    border-bottom: 2px solid yellow;
    border-right: 2px solid blue;
    border-left: 2px solid red;
    padding-bottom: 20px;
    margin: 1px auto;
}

/* Task Section */
.task-list {
    min-height: 280px;
    width: 98%;
    margin: auto;
}
.task-wrapper {
    padding-inline-start: 0px;
    display: block;
}
.task-item {
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.task-text {
    float: left;
    font-size: 20px;
}
.task-completed div {
    text-decoration-line: line-through;
    opacity: 0.5;
}
.icon-category {
    border: 2px solid white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.3;
    margin-left: 3px;
}
.icon-priority-high {
    border-color: red;
}
.icon-priority-medium {
    border-color: orange;
}
.icon-priority-low {
    border-color: lightblue;
}
.icon-completed {
    opacity: 0.5;
}
.task-key {
    display: none;
}

/* Add button */
.add-button img{
	width: 50px;
	height: 50px;
	float: right;
	margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
.add-button:hover img {
	background: #0066ff;
	border-radius: 50%;
	border: 1px solid #0066ff;
}

/* Add New Tasks Styles */
.add-task-section {
    border: 0px solid purple;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
}
.add-task-form {
    width: 90%;
    max-width: 1000px;
    border: 0px solid pink;
    margin: auto;
}
.task-label {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    width: 200px;
    margin: auto;
    color: white;
    padding: 10px;
}
.task-input {
    width: 250px;
    text-align: center;
    line-height: 25px;
    outline: none;
}
.add-task-form textarea {
    width: 250px;
    text-align: center;
    min-height: 100px;
    outline: none;
    resize: none;
}
.new-category {
    margin: 10px auto;
    display: block;
}
#priority {
    font-weight: bold;
}
.submit {
    margin: 15px auto;
    padding: 10px;
}
.submit:hover {
    background-color: lightgreen;
}
.new-task-categories {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    grid-gap: 1px;
}
.category-container {
    padding: 5px 10px;
    margin: 0px;
    font-weight: bold;
    text-align: right;
}
.error-title {
    color: red;
    font-weight: bold;
}
.error-description {
    color: red;
    font-weight: bold;
}

/* Task Preview */
.task-preview-form {
    width: 90%;
    max-width: 1000px;
    border: 0px solid pink;
    margin: auto;
}
.task-preview-section {
    border: 0px solid cyan;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
}
.task-preview-categories {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    grid-gap: 1px;
}
.task-preview-form textarea {
    width: 250px;
    text-align: center;
    min-height: 100px;
    outline: none;
    resize: none;
}
.hidden {
    display: none;
}
.not-hidden {
    display: block;
}
.button {
    display: inline-block;
}